body{
  background:#B3B3B3;
  font-size: 130%;
}

h1{
  color:#5f0e0e;
  font-size: 250%;
  font-variant: small-caps;
}
h2{
  color:darkred;
  background:#00b7ea;

}
header{
  text-align: center;
  color: #9e0f0f;
  margin:1%;

}
.half{

  display:block;
  width :47%;
  margin: 3px;
  float:left;

}

.full{
  clear: both;
}

details{
  font-style: italic;
}

img{
  width:10%;
  display: inline-block;
}

footer{

  margin:2%%;
  clear:both;

/*  background-color: #fd00569c; */
}

nav a{
  color: black;
  margin:1%;
  font-size: 150%;
}

header, footer{
	background: #666666;
	background: linear-gradient(#666666 0%, #00b7ea 100%);

}
