h1{
  color:#5f0e0e;
  font-size: 250%;
  font-variant: small-caps;
}
h2{
  color:darkred;
}
header,footer{
  text-align: center;
/*  background-color: #fd00569c; */
}
section{
  color: #9e0f0f;
}
details{
  font-style: italic;
}
